body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: blanchedalmond;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #232323;
}

/*  Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background: darkred;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: blanchedalmond;
}

.dark{
  padding: 15px;
  color: lightgray;
  background: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* header */
header{
  background: gray;
  color: blanchedalmond;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: darkred 3px solid;

}

header a{
  color: honeydew;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  /* float: left; */
  display: inline;
  padding: 0 10px 0 20px;
}

header #exocet{
  float: left;
}

header #exocet h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .current a{
  color: black;
  font-weight: bold;
}

header .highlight{
  color: darkred;
  font-weight: bold;
}

header a:hover{
  color: darkred;
  font-weight: bold;
}

/* Showcase */

#showcase{
  min-height: 400px;
  background-color: #232323;
  background: url('../images/showcase1.jpg') no-repeat;
}

#showcase h1{
  margin-top: 50px;
  font-size: 55px;
  margin-bottom: 10px;
  margin-left: 90px;
}

#showcase p{
  font-size: 20px;
  margin-left: 90px;
}

/* Newsletter */
#newsletter{
  padding: 15px;
  color: lightgray;
  background: black;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 90px;
}

/* incantation page */
aside#sidebar{
  width: 30%;
  margin-top: 10px;
  float: right;
}

article#main-col{
  float: left;
  width: 65%;
  color: honeydew;
}

article#main-col img{
  float: left;
  width: 200px;
  border: 5px solid black;
  margin: 5px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: honeydew;
  background-color: darkred;
  text-align: center;
}