body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: blanchedalmond;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #232323;
}

/*  Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.dark{
  padding: 15px;
  color: lightgray;
  background: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* header */
header{
  background: gray;
  color: blanchedalmond;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: darkred 3px solid;

}

header a{
  color: honeydew;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  display: inline;
  padding: 0 10px 0 20px;
}

header #exocet{
  float: left;
}

header #exocet h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .current a{
  color: darkred;
  font-weight: bold;
}

header .highlight{
  color: darkred;
  font-weight: bold;
}

header a:hover{
  color: black;
  font-weight: bold;
}

/* Showcase */

#showcase{
  min-height: 400px;
  background-color: #232323;
  background: url('../images/showcase1.jpg') no-repeat;
}

#showcase h1{
  margin-top: 50px;
  font-size: 55px;
  margin-bottom: 10px;
  margin-left: 90px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#showcase p{
  font-size: 20px;
  margin-left: 90px;
}

/* Newsletter */
#newsletter{
  padding: 15px;
  color: lightgray;
  background: black;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

.button_1{
  height: 34px;
  background: darkred;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: blanchedalmond;
}

/* Boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 90px;
}

/* Incantation page */
aside#sidebar{
  width: 30%;
  margin-top: 10px;
  float: right;
}

article#main-col{
  float: left;
  width: 65%;
  color: honeydew;
}

article#main-col img{
  float: left;
  width: 200px;
  border: 5px solid black;
  margin: 5px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: honeydew;
  background-color: darkred;
  text-align: center;
}

/* About page */
#about{
  margin-top: 20px;
  text-align: left;
  padding: 10px;
}

#about img{
  width: 350px;
  border: 3px solid black;
}

/* Media Queries */

@media(max-width: 749px){
  header #exocet,
  header nav,
  header li,
  #newsletter h1,
  #newsletter form
  {
    float: none;
    text-align: center;
    width: 100%;
  }

  .container{
    width: 90%;
    margin: auto;
    overflow: hidden;
  }

  aside#sidebar{
    width: 90%;
    margin-top: 5px;
    float: none;
    
  }

  #showcase{
    min-height: 400px;
    background-color: #232323;
    background: url('../images/showcase2.jpg') no-repeat;
  }
  
  #showcase h1{
    padding-top: 140px;
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 10px;
    margin-left: 25px;
  }
  
  #showcase p{
    font-size: 16px;
    margin-left: 25px;
  }
  
  article#main-col{
    float: none;
    width: 90%;
    color: honeydew;
  }
  
  article#main-col img{
    float: left;
    width: 200px;
    border: 5px solid black;
    margin: 5px;
  }

  header{
    padding-bottom: 10px;
  }

  #showcase h1{
    margin-top: 25px;
  }

  #boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 5px;
  }
    
  #boxes .box img{
    width: 75px;
  }

  #about img{
    width: 300px;
    border: 3px solid black;
  }
    
}

@media(max-width: 452px){

  header a{
    font-size: 12px;
    text-transform: none;
  }

  #showcase{
    background: url('../images/showcaseMobileImg.jpg') no-repeat;
  }

  #boxes .box
  {
    float: none;
    text-align: center;
    width: 100%;
  }

  #newsletter .button_1{
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }

  article#main-col img{
    float: left;
    width: 100px;
    border: 5px solid black;
    margin: 5px;
  }

  #about img{
    width: 200px;
    border: 3px solid black;
  }

}